html {
  background: url(./assets/twin-peaks3.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  background-color: rgba(14, 13, 10, 0.842);
  padding-top: 2%;
  padding-bottom: 2%;
  margin: 0;
  height: 250px;
}

@media (min-width: 1300px) {
  body {
    width: 60%;
    margin: 0 auto;
  }
}

.header-pic {
  border-radius: 25px;
  object-fit: contain;
  height: 100%;
  width: 100%;
  box-shadow: 0px 8px 16px 0px greenyellow;
}

.front-page {
  background-color: transparent;
  padding: 10px;
  font-family: Helvetica, sans-serif;
  color: white;
  background-color: rgba(14, 13, 10, 0.466);
}

.front-page h1 {
  color: red;
  border-bottom: black solid 6px;
  font-family: Helvetica, sans-serif;
  padding-top: 10px;
  padding-left: 5px;
  background-color: rgba(14, 13, 10, 0.466);

  border-radius: 25px;
  box-shadow: 0px 8px 16px 0px gray;
  text-align: center;

}
.front-page span {
  color: white;
  font-size: large;
  font-weight: bolder;
  font-style: italic;
  font-family: Helvetica, sans-serif;
  text-decoration: underline;
}

.characters {
  background-color: transparent;
  padding: 10px;
  color: white;
  font-family: Helvetica, sans-serif;
  background-color: rgba(14, 13, 10, 0.466);
}

.characters h2 {
  color: red;
  border-bottom: black solid 6px;
  font-family: fantasy;
  padding-top: 10px;
  padding-left: 5px;
  background-color: rgba(14, 13, 10, 0.466);

  border-radius: 25px;
  font-family: Helvetica, sans-serif;
  box-shadow: 0px 8px 16px 0px gray;
  text-align: center;
}

li {
  margin: 10px;
}


